page-create-post {

    .value-country-flag {
        display: inline-block;
        width: 20px;
        max-width: 100%;
        height: auto;
    }

    .top-banner{
        height: 90px;
        background-color:yellowgreen;
        color: white;
    }
}
